/* Banner */
.banner{
    top: 0;
    height: 20px;
    width: 100%;
    padding: 20px;
    z-index: 1;
    overflow: hidden;
}
.banner-right{
    text-align: right!important;
    float: right!important;
    margin-right: 40px;
}
.banner-item{
    padding: 8px 16px;
    float: left;
}

/* Form */
.form{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.form-line{
    display: flex;
    text-align: center;
    overflow: auto;
    vertical-align: middle;
}
.form-label{
    float: left;
    width: 200px;
    margin: 1em 0 1em 0;
    padding: 0;
}
.form-input-1{
    display: inline;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
}
.form-input-2{
    display: inline;
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
}
.form-button{
    display: inline;
    height: 3em;
    width: 200px;
    padding: 12px 20px;
    margin: 30px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #2d87fd;
    color: white;
}
.form-button-dynamic-delete{
    display: inline;
    vertical-align: middle;
    height: 3.5em;
    width: 200px;
    padding: 12px 12px;
    margin: 0 0 0 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #ff9494;
    color: white;
}
.form-button-dynamic-delete:hover{
    color: #ff0000;
}

/* Content */
.content-1{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Heading */
h3{
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    padding: 0;
}
h4{
    font-size: 1.2em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    padding: 0;
}
h5{
    font-size: 1em;
    font-weight: 400;
    margin: 1em 0 1em 0;
    padding: 0;
}
